@{
    ViewData["Title"] = "About";
}
<body id="AboutBG">


    <div id="MetalBG3" class="row col-md-12 p-2 ml-1 text-light" style="border:solid grey 1px;  box-shadow:8px 8px 6px rgba(0,0,0, .5);">
         <div class="col-md-7" >
            <h2 id="testE" class="text-center" style="text-decoration:underline;text-shadow:black 3px 3px;">What is the SCP Foundation?</h2>
            <div id="test" class="p-2 bg-light text-dark" style="border:solid 1px black;">
                SCP is an abbreviation for the words "Secure. Contain. Protect." that shields mankind from "anomalies," harmful or not,
                that exists in the world, in the system, or in the universe.

                <hr style="border-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0); margin-top:-1.5%;" />

                The SCP Foundation is a globally-led initiative. Its highest priority is the prevention of having humankind revert to 
                the "dark ages," a time where humans once came to be. The foundation firmly ensures that the "Normal Life" is 
                not disturbed among the masses. As a result, most of the Foundation's actions may seem cold and unapologetic since 
                lives aren't valued as much when they stand in the way of the Foundation's objectives. Some of these major objectives 
                are not only to protect humankind but the Earth, the Universe and even reality itself. It is a major organization with 
                a number of laboratories, facilities, and networks capable of securing, containing, or even destroying these anomalies 
                that are individually named as "SCP" followed by a given coded number (such as SCP-173, SCP-049). SCPs are subjectively 
                also called "Skips."

                <hr style="border-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0); margin-top:-1.5%;" />

                SCP can be almost anything: from the smallest of material like a coin or a doorknob, to even colossal underwater and extraterrestrial 
                entities. Some are even quirky like the term "Memetics" or anomalies that exist in the digital world.
            
                <hr style="border-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0); margin-top:-1.5%;" />

                Each anomaly is unique, and each unique anomaly requires a special containment procedure because the bottom line is that almost
                all of them offer a wide range of spectrum of risks for harming mankind.
            
                <hr style="border-color:rgba(255,255,255,0); background-color:rgba(255,255,255,0); margin-top:-1.5%;" />

                Keep in mind that the Foundation is also responsible for locating/relocating and containing/re-containing individuals, entities, 
                locations, and objects that seem to otherwise violate natural laws and orders. Think of them as the mistakes created by an 
                omnipotent being existing in a physical plane, but at the same time, these things shouldn't exist in the first place.
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <img src="/Images/SCPposter_01.jpg" alt="scp" class="img-fluid" style="max-width:100%; border:black solid 2px;">
        </div>
    </div>
    <div class="form-group p-2 disabled">
        <input type="color" style="opacity:0;" />
    </div>
</body>
