@{
    ViewData["Title"] = "Contact";
}
<body id="ContactBG">
    <div class="p-2 col-md-12 text-center text-light mt-5">
        <div id="MetalBG4" style="background-color:saddlebrown; margin-left:20%; margin-right:20%; padding-bottom:1px; padding-top:4px;
                    border:solid grey 1px; margin-top:6%; box-shadow:8px 8px 6px rgba(0,0,0, .5);">
            <h1 id="testE">SCP Foundation</h1>
            <h4 id="testD">Global Branch</h4>
            <hr />
            <address>
                P.O. Box 01<br />
                New York, NY 00001<br />
                @*<abbr title="Phone">P:</abbr>*@
                1-800-212-5555
            </address>

            <address>
                <strong>American Division:</strong> <a href="mailto:Americas@SCPfoundation.com">Americas@SCPfoundation.com</a><br />
                <strong>Europian Division:</strong> <a href="mailto:Europe@SCPfoundation.com">Europe@SCPfoundation.com</a><br />
                <strong>Eastern Division:</strong> <a href="mailto:Asia@SCPfoundation.com">Asia@SCPfoundation.com</a><br />
                <strong>African Division:</strong> <a href="mailto:Africa@SCPfoundation.com">Africa@SCPfoundation.com</a><br />
                <strong>Australia Division:</strong> <a href="mailto:Americas@SCPfoundation.com">Australia@SCPfoundation.com</a><br />

            </address>
        </div>
    </div>
</body>