@model List<SCP>
@{
    ViewData["Title"] = "SCP Foundation";
}
<body id="MetalBG2">
    <div class="text-center" style="background-color:rgba(120,130,150,.5); color:whitesmoke; text-shadow:black 3px 3px; border:grey 3px ridge; margin-top:20px;">
    <h1 id="testE" class="display-4">Welcome to the Foundation</h1>
    <h1 id="test" class="display-6">Secure. Contain. Protect.</h1>
</div>
<div class="jumbotron img-fluid bg-transparent" style="margin-bottom:-5%; margin-top:-2%;">

    <p>
        <img src="~/Images/SCPmain_01.png" alt="AllMonsters" style="width:100%; box-shadow:8px 8px 6px rgba(0,0,0, .5) inset; border:rgb(60,54,54) inset 5px;" class="rounded mx-auto d-block" />
    </p>

</div>
</body>